body{

    background-color: #797978;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    
}


#height, #weight{
    width: 150px;
    height: 40px;
    margin-top: 30px;
    font-size: 20px;
    
}

#weight-guide{
    margin-left: 75px;
    margin-top: 25px;
}

.container{
    height: 800px;
    width: 1200px;
    border: 1px solid black;
    background-color: rgb(136, 104, 63);
}
#results{

    font-size: 30px;
    margin-left: 50px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
    /* border: 1px solid rgb(230, 212, 212); */
}
button{
    width: 150px;
    height: 35px;
    margin-left: 110px;
    font-size: 20px;
    margin-top: 25px;
    background-color: #fff;
    padding: 3px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
}

h1{
    padding-left: 15px;
    padding-top: 25px;
}
.hw{
    padding-left: 15px;
    
}
